.checkoutContainer {
  margin-top: 10rem;
  margin-inline: 5rem;
}

.checkoutTitle h2 {
  text-transform: uppercase;
  font-size: xx-large;
}

.checkoutBox {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

/* FORM */
form {
  width: 50%;
  margin-right: 1rem;
}

h4 {
  text-transform: uppercase;
  padding-bottom: 12px;
}

.checkoutContact,
.checkoutDelivery,
.checkoutShipping,
.checkoutPayment {
  margin-bottom: 2rem;
}

.checkoutBox form button {
  font-weight: bold;
  font-size: large;
}

.orderDetails {
  width: 50%;
  margin-left: 1rem;
}

.orderTotal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

.orderTotal h5 {
  text-transform: uppercase;
  font-weight: bold;
}
