.itemTitle {
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-inline: 40px;
  padding-inline: 4rem;
}

.itemTitle h3 {
  text-transform: uppercase;
  font-size: xx-large;
}

.itemTitle a {
  text-decoration: none;
  color: #e91e63;
}

.spinner {
  padding-block: 10rem;
  margin-top: 8rem;
  text-align: center;
}

.itemList {
  padding-inline: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
