.itemTitle {
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-inline: 40px;
  padding-inline: 4rem;
}

.itemTitle h3 {
  text-transform: uppercase;
  font-size: xx-large;
}
.itemTitle h6 {
  text-transform: lowercase;
}

.spinner {
  padding-block: 10rem;
  margin-top: 8rem;
  text-align: center;
}
