.frontPage,
.endPurchase {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontPage img,
.endPurchase img {
  height: 27rem;
}

.frontPageText,
.endPurchaseText {
  padding-left: 3rem;
  width: 40%;
}

.frontPageText h2 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: xx-large;
  padding-bottom: 3rem;
}

.frontPageText Button,
.endPurchase Button {
  margin-top: 3rem;
  font-weight: bold;
  font-size: large;
}

/* PURCHASE COMPLETED */
.endPurchase h2 {
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.endPurchase h5 span {
  background-color: #222222;
  color: #e91e63;
}
