/* cart title */
.cart {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  margin-bottom: 1rem;
  margin-inline: 40px;
  padding-inline: 4rem;
}

.cartTitle h5 {
  font-size: smaller;
}

.cartTitle h2 {
  text-transform: uppercase;
  font-size: xx-large;
}

.cart button {
  font-weight: bold;
}

/* items */
.itemCard {
  display: flex;
  height: 100px;
  margin-inline: 6rem;
  margin-block: 1rem;
}

.imgContainer {
  display: flex;
  align-items: center;
  width: 100px;
}

.itemCardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  padding: 2rem !important;
  cursor: default;
}

.itemCardContent h6 {
  text-transform: uppercase;
}

/* cart footer */
.totalCart {
  margin-inline: 40px;
  padding-inline: 4rem;
}

.totalCart .total {
  border-bottom: 1px solid white;
  text-transform: uppercase;
  font-size: xx-large;
  margin-block: 2rem;
  padding-bottom: 1rem;
}

.totalCart h4 {
  margin-top: 1rem;
}

.totalCart a {
  font-size: large;
  font-weight: bold;
  margin-block: 2rem;
}
