footer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  padding-block: 2rem;
  border-top: 1px solid aliceblue;
}

.ulTitle {
  text-transform: uppercase;
  font-size: large;
}

li {
  margin-block-start: 10px;
}

a {
  text-decoration: none;
}

a li:hover {
  color: #e91e63;
}
