nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 20px;
  border-bottom: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
}

.navLogo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
}
.navList {
  transition: all 0.3s;
  text-decoration: none;
}
.navList:hover {
  color: #e91e63;
}
