/*RESET*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}

*::selection {
  color: #e91e63;
  background-color: #222222;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 237px - 88px);
}

button {
  border: none;
}

li {
  list-style-type: none;
}
